<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Cache-Control" content="o-transform">
<meta http-equiv="Cache-Control" content="no-siteapp">
<!--搜索关键字+网站简述-->
<meta name="Keywords" content="阅享，readenjoy，电子书网站，电子书下载，阅读，分享，免费资源" />
<meta name="Description" content="阅享网站后台管理" />
<!-- 小图标  -->
<link rel="shortcut icon" type="image/x-icon" href="/src/image/icon/favicon.ico">
<!--引入全局jquery-->
<script src="https://cdn.bootcss.com/jquery/1.9.1/jquery.js"></script>
<!--引入全局cookie js   -->
<script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.js"></script>
<!--引入layer js-->
<script src="https://cdn.bootcss.com/layer/3.1.0/layer.js" type="text/javascript"></script>